header{
	display:block;
	margin: 0 auto;
	width:100%;
	text-align: center;
}
header h1{
	font-family: Arial;
	font-size: 60px;
	font-weight: blod;
	color: #FFC0CB
}
header #newgamebutton{
	display: block;
	margin:20px auto;
	width: 100px;
	padding:10px 10px;
	background-color: #8f7a66;
	font-family: Arial;
	color:white;
	border-radius: 10px;
	text-decoration: none;
}
header #newgamebutton:hover{
	background-color: #9f8b77;
}
header p{
	font-family: Arial;
	font-size: 25px;
	margin:20px auto;
}
#grid-container{
	width: 460px;
	height:460px;
	padding:20px;
	margin: 50px auto;
	background-color: #FF7F50;
	border-radius:10px;
	position:relative;
}
.grid-cell{
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background-color: #FFC0CB;
	position: absolute;
}
.number-cell{
	border-radius: 6px;
	font-family: Arial;
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
	text-align: center;
	position: absolute;
}
.login-bg{
	/*position: absolute;*/
	left:50%;
	top:0%;
	/*margin-left: -960px;*/
	/*margin-top: -384px;*/
	background: url(bg.jpg) no-repeat center center fixed;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
#score{
	color:#DCDCDC;
}
p{
	color: #3D59AB;
}
